<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /seiv2025/p3/t5/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /seiv2025/p3/t5/index.html [L]
</IfModule>
